extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.bookTitle
					h5 Posted 
						if data.post.publishDate
							| on #{data.post._.publishDate.format('MMMM Do, YYYY')} 
						if data.post.author
							| by #{data.post.author}
				.post
					p.post-body: != data.post.review
